.contact-height{
    min-height:calc(100vh - 266px) ;
    display:flex;
    align-items: center;
}


@media only screen and (max-width: 478px){
    .fa-solid,
    .text-font,
    .text-address{
        font-size: 0.85rem;
    }
}