<div class="container-fluid" id="web-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 d-flex align-items-center">
                <div class="copyright">
                    <p>Copyright © 2022 Samadhan All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center policies">
                <nav aria-label="breadcrumb mb-0">
                    <ol class="breadcrumb d-flex justify-content-center">
                      <li class="breadcrumb-item active" aria-current="page">Website Policies</li>
                      <li class="breadcrumb-item active" aria-current="page">Help</li>
                      <li class="breadcrumb-item active" aria-current="page">Feedback</li>
                    </ol>
                  </nav>
                  <p>
                    Content Owned By District Administration
                  </p>
            </div>
            <div class="col-sm-4 d-flex align-items-center text-end  justify-content-end">
                <div class="d-flex stpl-footer-logo align-items-center">
                    <p class="mb-0">Powered By -</p>
                    <img src="../../../../assets/images/ShauryaTechnosoftLogoSmall.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>