<div class="container-fluid" id="web-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <div class="copyright">
                    <p>{{'Home.copyright' | translate}}</p>
                </div>
            </div>
            <div class="col-sm-4 text-center policies">
                <!-- <nav aria-label="breadcrumb mb-0">
                    <ol class="breadcrumb d-flex justify-content-center">
                      <li class="breadcrumb-item active" aria-current="page">{{'Home.website_policies' | translate}}</li>
                      <li class="breadcrumb-item active" aria-current="page">{{'Home.help' | translate}}</li>
                      <li class="breadcrumb-item active" aria-current="page">{{'Home.feedback' | translate}}</li>
                    </ol>
                  </nav> -->
                  <p>
                    {{'Home.content_owned' | translate}}
                  </p>
            </div>
            <div class="col-sm-4 text-end">
                <a href="http://shauryatechnosoft.com" target="_blank" class="nav-link stpl-footer-logo">
                    <span class="mb-0">{{'Home.powered_by' | translate}} -</span>
                    <img src="../../../../assets/images/ShauryaTechnosoftLogoSmall.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>