#web-footer {
    background-color: #000;
    color: #fff;
    padding: 50px 50px 20px 50px;
}

#web-footer .stpl-footer-logo img{
    width: 100px;
}
#web-footer .stpl-footer-logo {
    font-size: 0.8rem;
}
#web-footer .policies p{
    font-size: 0.8rem;
}
#web-footer .copyright
{
    font-size: 0.8rem;
}
.gotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none !important;
    background-color: var(--main-color);
    color: #000;
    width: 40px;
    height:40px;
    line-height:40px;
  }
