<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}" (mouseover)="mouseOver()" (mouseleave)="mouseLeave()">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-menu">
        <ul>
          <!-- <li class="header-menu">
            <span>assets</span>
          </li> -->
          <li *ngFor="let menu of menus; let i = index"  routerLinkActive="active"  [ngClass]="{'active': menu.active, 'sidebar-dropdown':menu.pageURL.length > 1}">
            <a  *ngIf="menu.pageURL.length <= 1"  routerLink="{{menu.pageURL}}" (click)="addActiveClass(menu.pageURL.length)">
              <img [src]="menu.menuIcon">
              <span>{{menu.pageName}} </span>
            </a>

            <a *ngIf="menu.pageURL.length > 1"   (click)='mouseOutFlag=false;toggle(menu)'>
              <img [src]="menu.menuIcon">
              <span>{{menu.pageNameView}} </span>
            </a>
            <div *ngIf="menu.pageURL.length  > 1" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li class="child-active" *ngFor="let submenu of menu.pageName; let i  = index"  routerLinkActive="active">
                  <a routerLink="{{menu.pageURL[i]}}" > {{submenu}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</nav>