<div class="login-body">
    <div class="center-screen">
        <div class="d-flex">
            <div class="logos">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="mb-auto pt-4">
                        <img src="../../../assets/Login/Login-Samadhan-Logo.svg" alt="Samadhan logo">
                    </div>
                    <div class="mx-auto">
                        <img src="../../../assets/Login/Osmanabad-District.svg" alt="osmanabad district">
                    </div>
                </div>
            </div>
            <div class="login-box">
                <h5 class="text-center mb-5">LOG IN</h5>
                <div class="mb-2">
                    <label class="form-label">
                        Email address
                    </label>
                    <mat-form-field class="w-100" appearance="outline">
                        <input matInput placeholder="User Name">
                    </mat-form-field>
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                    </label>
                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </div>
                <button mat-raised-button class="bg-main w-100">LOGIN</button>
            </div>
        </div>
    </div>




    <!-- <div class="card login-card border-0">
        <div class="card-body">
            <div class="row  align-items-center">
                <div class="col-sm-4">
                    <div class=" text-center  login-logo">
                        <div style="line-height: 40vh; vertical-align: middle;">
                            <img src="../../../assets/Login/Login Samadhan Logo.svg" alt="Samadhan logo">
                        </div>
                        <div class="text-center">
                            <img src="../../../assets/Login/Osmanabad District.svg" alt="osmanabad district"
                                style="height: 80px">
                        </div>

                    </div>
                </div>
                <div class="col-sm-8">
                    <h5 class="text-center">Log In</h5>
                    <div class="login-label">
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">
                                Email address
                            </label>

                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="User Name">
                            </mat-form-field>
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">
                                Password
                            </label>
                            <mat-form-field class="w-100 mb-3" appearance="outline">
                                <input matInput placeholder="Password">
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" class="w-100">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>