<div class="container-fluid">
    <div class="container">
        <div class="card card-body my-5">
            <div class="logo mb-3">
                <img src="../../../assets/web-icons/SAMADHAN-logo.svg" alt="">
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="card griev-details-title">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="mb-0 text-white">Grievance Details</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-end">
                                        <div class="griev-id">Grievance ID : </div>
                                        <div class="griev-data mx-auto mx-lg-0">304534583485348-1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row form-container">
                <div class="col-sm-12">
                    <div class="card mb-4">
                        <div class="card-header bg-main-light">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-auto form-label">Submission Date & Time :</div>
                                        <div class="col-sm-6 col-lg-auto form-data">12-10-2022 12.01 PM</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row justify-content-end">
                                        <div class="col-sm-6 col-lg-auto form-label">Status:</div>
                                        <div class="col-sm-6 col-lg-auto form-data text-success">Resolved</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Department : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Municipal Corporation</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Office:</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Osmanabad Municipal Corporation</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Nature of Grievance : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Water Supply</div>
                                </div>
                            </div>
                            <div class="row bbottom g-2">                                    
                                <div class="col-sm-2">
                                    <div class="form-label">Name :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Mukul Joshi</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Mobile Number :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">8669264767</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Email :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">mukul@gmail.com </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">District :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Osmanabad</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Village : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Andur </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Taluka :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">Tuljapur</div>
                                </div>                                    
                            </div>
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Grievance Details : </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-data">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Delectus ea
                                        tempora iste harum nulla deleniti magnam modi porro repellendus fugit.
                                        tempora iste harum nulla deleniti magnam modi porro repellendus fugit.
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="d-flex align-items-center">
                                        <div class="me-3">
                                            <div class="pdf-icon">
                                                <img src="assets/images/pdf.png">
                                            </div>
                                            <a href="#" class="hlink">View File</a>
                                        </div>
                                        <div class="text-muted">File Uploaded</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="note">Note -</p>
                    <small class="text-muted">1. This is a system generated File .</small>
                </div>
            </div>
        </div>
    </div>
</div>