<div class="container-fluid">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between p-2">
            <div class="logo">
                <img src="../../../assets/web-icons/SAMADHAN-logo.svg" alt="">
            </div>
            <button mat-icon-button *ngIf="data" (click)="closeDialog()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
        </div>
        <div class="card card-body my-2">
            <!-- <div class="logo mb-3">
                <img src="../../../assets/web-icons/SAMADHAN-logo.svg" alt="">
            </div> -->
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="card griev-details-title">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="mb-0 text-white">Grievance Details</h4>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-end gap-2">
                                        <div class="griev-id">Grievance ID : </div>
                                        <div class="griev-data mx-auto mx-lg-0">{{grivanceData?.grievanceNo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-container">
                <div class="col-sm-12">
                    <div class="card mb-4">
                        <div class="card-header bg-main-light">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-auto form-label">Submission Date & Time :</div>
                                        <div class="col-sm-6 col-lg-auto form-data">
                                            {{grivanceData?.grievanceSubmissionDate | date:'dd/MM/yyyy & h:m:a'}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row justify-content-end">
                                        <div class="col-sm-6 col-lg-auto form-label">Status:</div>
                                        <!-- <div class="col-sm-6 col-lg-auto form-data text-success">
                                            {{grivanceData?.status}}</div> -->
                                        <div class="col-sm-6 col-lg-auto form-data"
                                            [ngClass]="{'text-primary': grivanceData?.status =='Open','text-secondary': grivanceData?.status =='Accepted','text-success': grivanceData?.status=='Resolved' ,'text-warning': grivanceData?.status =='Partial Resolved'
                                        ,'text-danger': grivanceData?.status =='Rejected','text-info': grivanceData?.status =='Transferred' }">
                                            {{grivanceData?.status}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Department : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.departmentName}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Office:</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.officeName}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Nature of Grievance : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.natureofGrievance}}</div>
                                </div>
                            </div>
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Name :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.otherCitizenName ? grivanceData?.otherCitizenName : grivanceData?.name}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Mobile Number :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.otherCitizenMobileNo ? grivanceData?.otherCitizenMobileNo : grivanceData?.userMobileNo }}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Email :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.userEmailId}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">District :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.district}}</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Village : </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.village}} </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-label">Taluka :</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data">{{grivanceData?.taluka}}</div>
                                </div>
                            </div>
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Grievance Details : </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="form-data">
                                        {{grivanceData?.grievanceDescription}}
                                    </div>
                                </div>

                                <div class="col-sm-2" *ngIf="grivanceData?.citizenGrievanceImages[0]?.docpath">
                                    <div class="form-label">
                                        <div class="pdf-icon col-md-3">
                                            <img src="assets/images/pdf.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10"
                                    *ngIf="commonMethod.checkDataType(grivanceData?.citizenGrievanceImages[0]?.docpath)">
                                    <a class="primary form-label"
                                        (click)="viewDocument(grivanceData?.citizenGrievanceImages[0]?.docpath)">
                                        View Documents</a>
                                </div>
                                <div class="col-sm-10"
                                    *ngIf="!commonMethod.checkDataType(grivanceData?.citizenGrievanceImages[0]?.docpath)">
                                    <p class="text-danger">Document Not Available</p>
                                </div>
                            </div>
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label"> Department Remark: </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data" *ngFor="let remark of grivanceData.officerRedressalImages">
                                        {{remark?.remark}}</div>
                                </div>
                            </div>
                            <div class="row bbottom g-2">
                                <div class="col-sm-2">
                                    <div class="form-label">Department Uploaded Document: </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-data" *ngFor="let remark of grivanceData.officerRedressalImages">
                                        <div class="col-sm-10">
                                            <a class="primary form-label" (click)="viewDocument(remark?.docpath)">
                                                View Documents
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="note">Note -</p>
                    <small class="text-muted">1. This is a system generated File .</small>
                </div>
            </div>
        </div>
    </div>
</div>