<div class="container-fluid">
    <div class="container">
        <div class="card card-body my-5">
            <div class="logo">
                <img src="../../../assets/web-icons/SAMADHAN-logo.svg" alt="">
            </div>
            <div class="container">
                <div class="row" id="reciept-title">
                    <div class="card plain-card griev-details-title mb-1 mt-3">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-sm-6">

                                    <div class="form-label mb-0">Grievance Details</div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="d-flex justify-content-end">
                                        <div class="griev-id">Grievance ID : </div>
                                        <div class="griev-data mx-auto mx-lg-0">304534583485348-1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="card plain-card px-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label me-2">Submission Date & Time :</div>
                                        <div class="form-data">12-10-2022 12.01 PM</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-lg-end">
                                        <div class="form-label me-2">Status:</div>
                                        <div class="form-data text-success">Resolved</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-0">
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label me-3">Department : </div>
                                        <div class="form-data">Municipal Corporation</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label me-3">Office:</div>
                                        <div class="form-data">Osmanabad Municipal Corporation</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="d-flex">
                                    <div class="form-label me-3">Nature of Grievance : </div>
                                    <div class="form-data">Water Supply</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">Name :</div>
                                        <div class="form-data">Mukul Joshi</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">Mobile Number :</div>
                                        <div class="form-data">8669264767</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">Email :</div>
                                        <div class="form-data">mukul@gmail.com </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">District :</div>
                                        <div class="form-data">Osmanabad</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">Village : </div>
                                        <div class="form-data">Andur </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex">
                                        <div class="form-label">Taluka :</div>
                                        <div class="form-data">Tuljapur</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <div class="form-label">Grievance Details : </div>
                                </div>
                                <div class="col-sm">

                                    <div class="form-data">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Delectus ea
                                        tempora iste harum nulla deleniti magnam modi porro repellendus fugit.
                                        tempora iste harum nulla deleniti magnam modi porro repellendus fugit.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>