<div class="container-fluid" id="topbar">
    <div class="container">
        <div class="row justify-content-end" >
            <div class="col-sm-auto text-end px-0">
                <div class="d-flex align-items-center w-100">
                    <div class="top-content border-end"><a>Screen Reader Access</a></div>
                    <div class="top-content border-end"><a>Skip to Main Content</a></div>
                    <div class="top-content border-end">
                        <span>Color</span>
                        <button class="btn-color btn-main"></button>
                        <button class="btn-color btn-blue"></button>
                        <button class="btn-color btn-black"></button>
                    </div>
                    <div class="top-content border-end">
                        <span>Font</span>
                        <button class="btn-font">A-</button>
                        <button class="btn-font">A</button>
                        <button class="btn-font">A+</button>
                    </div>
                    <div class="top-content">
                        <span>Language</span>
                        <select class="form-select">
                            <option value="English">English</option>
                            <option value="Marathi">Marathi</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="../../../../assets/web-icons/SAMADHAN-logo.svg" alt="">
            </div>
            <div class="right-logo d-flex align-items-center">
                <div>
                    <img src="../../../../assets/web-icons/75-logo-india.svg" alt="">
                </div>
                <div>
                    <img src="../../../../assets/web-icons/clean-india.svg" alt="">
                </div>
                <div class="btn">
                    <button mat-stroked-button>Login</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0" id="menubar">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>