<div class="container-fluid" id="topbar">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-auto text-end px-0">
        <div class="d-flex align-items-center justify-content-center w-100">
          <!-- <div class="top-content border-end"><a>{{'Home.screen_reader_access' | translate}}</a></div> -->
          <div class="top-content border-end"><a (click)="skipToMainContent()"
              style="cursor: grab;">{{'Home.skip_to_main_content' | translate}}</a></div>
          <div class="top-content border-end">
            <!-- <span>Color</span> -->
            <button class="btn-color btn-main" (click)="onClickThemeChange('main')"></button>
            <button class="btn-color btn-blue" (click)="onClickThemeChange('blue')"></button>
            <button class="btn-color btn-black" (click)="onClickThemeChange('black')"></button>
          </div>
          <!-- <div class="top-content border-end">
            <button class="btn-font" (click)="onChangeFontSize('sm')">A-</button>
            <button class="btn-font" (click)="onChangeFontSize('md')">A</button>
            <button class="btn-font" (click)="onChangeFontSize('lg')">A+</button>
          </div> -->
          <div class="top-content">
            <!-- <span>Language</span> -->
            <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnEnglish" autocomplete="off"
                [checked]="selectedLanguage == 'English'" (change)="translateLanguageTo('English')">
              <label class="btn btn-outline-language" for="btnEnglish">English</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnMarathi" autocomplete="off"
                [checked]="selectedLanguage == 'Marathi'" (change)="translateLanguageTo('Marathi')">
              <label class="btn btn-outline-language" for="btnMarathi">Marathi</label>
            </div>
            <!-- <select class="form-select" [(ngModel)]="selectedLanguage" (change)="translateLanguageTo(selectedLanguage)">
              <option value="English">English</option>
              <option value="Marathi">Marathi</option>
            </select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center" id="logos">
      <a routerLink="/home">
        <img src="../../../../assets/web-icons/SAMADHAN-logo.svg" alt="" class="samadhan-logo">
      </a>
      <div class="right-logo d-flex align-items-center">
        <img src="../../../../assets/images/75-logo-india.png" alt="" class="india75">
        <img src="../../../../assets/web-icons/clean-india.svg" alt="" class="clean-india">
        <button class="btn btn-light btn-sm fw-bold px-3 py-2 rounded" routerLink="../login">{{'Home.login' |
          translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0" id="menubar">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">{{'Home.home' |
              translate}}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="about-us" routerLinkActive="active">{{'Home.about' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="faq" routerLinkActive="active">{{'Home.help' | translate}}</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#YoutubeLinkModal">
              {{'Home.post-grievance' | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact-us" routerLinkActive="active">{{'Home.contact' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>



<!-- Modal for youtube link -->
<div class="modal fade" id="YoutubeLinkModal" tabindex="-1" aria-labelledby="YoutubeLinkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="YoutubeLinkModalLabel">How to Post Grievance</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe width="100%" height="506" src="https://www.youtube.com/embed/XHQQqdfG9aA" title="Citizen App"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>