<div class="row">
    <div class="col-sm-8">
        <form [formGroup]="filterFrm">
            <div class="row gx-1 mb-2">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Taluka</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearFilter('taluka');isSelfGrievance.setValue(1);filterData();">
                            <mat-option value="0">All Taluka</mat-option>
                            <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">
                                {{taluka.taluka}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Village</mat-label>
                        <mat-select formControlName="villageId" (selectionChange)="getDepartment();filterData()"
                            [disabled]='!filterFrm.value.talukaId'>
                            <mat-option value="0">All Village</mat-option>
                            <mat-option *ngFor="let village of villageArray" [value]="village.id">
                                {{village.village}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="deptId"
                            (selectionChange)="clearFilter('department');isSelfGrievance.setValue(1);filterData();">
                            <mat-option value="0">All Department</mat-option>
                            <mat-option *ngFor="let department of departmentArray" [value]="department.id">
                                {{department.departmentName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Office</mat-label>
                        <mat-select formControlName="officeId" (selectionChange)="filterData()"
                            [disabled]='!filterFrm.value.deptId'>
                            <mat-option value="0">All Office</mat-option>
                            <mat-option *ngFor="let office of officeArray" [value]="office.id">
                                {{office.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="statusId"
                            (selectionChange)="isSelfGrievance.setValue(1);filterData()">
                            <mat-option value="0">All Status</mat-option>
                            <mat-option *ngFor="let status of statusArray" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <div class="mb-2">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Grievance No / Name</mat-label>
                            <input matInput placeholder="Search" formControlName="textSearch">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">
                        <ng-container matColumnDef="srno">
                            <th mat-header-cell *matHeaderCellDef class="srno"> Sr.No. </th>
                            <td mat-cell *matCellDef="let element;let i= index"> {{((pageNumber + 1) * 10 + i +
                                1)-20}}</td>
                        </ng-container>
                        <ng-container matColumnDef="grievanceNo">
                            <th mat-header-cell *matHeaderCellDef>Grievance No</th>
                            <td mat-cell *matCellDef="let element"><a (click)="grievanceDetails(element.id)">{{element.grievanceNo}}</a></td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.isSelfGrievance == 3 ?
                                (element.otherCitizenName | titlecase) : element.name | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="taluka">
                            <th mat-header-cell *matHeaderCellDef> Taluka </th>
                            <td mat-cell *matCellDef="let element"> {{element.taluka}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="village">
                            <th mat-header-cell *matHeaderCellDef> VILLAGE </th>
                            <td mat-cell *matCellDef="let element"> {{element.village}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef> Department </th>
                            <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="office">
                            <th mat-header-cell *matHeaderCellDef> Office </th>
                            <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> STATUS </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="badge"
                                    [ngClass]="{'open': element?.status =='Open','resolved': element?.status =='Resolved', 'accepted': element?.status =='Accepted',
                                'partial': element?.status =='Partial Resolved','rejected': element?.status =='Rejected','transferred': element?.status =='Transferred'}">
                                    {{element.status}}
                                </span>
                                <!-- <a href="">

                                    {{element.status}}
                                </a> -->
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="action" class="srno">
                            <th mat-header-cell *matHeaderCellDef> ACTION </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="patchData(element)">
                                    <span class="material-symbols-outlined">
                                        visibility
                                    </span>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="button">
                            <th mat-header-cell *matHeaderCellDef> <button
                                    [disabled]="this.selection.selected.length ==0" mat-icon-button
                                    (click)="deleteData()">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button></th>
                            <td mat-cell *matCellDef="let element">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="select">
                            <th *matHeaderCellDef class="mxw-80">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td *matCellDef="let element let i=index" class="mxw-80">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container> -->

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="action"> ACTION <br>
                                <button [disabled]="this.selection.selected.length ==0" mat-icon-button
                                    (click)="deleteData()">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()">
                                    <!-- [indeterminate]="selection.hasValue() && !isAllSelected()">---->
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="action">
                                <div>
                                    <button mat-icon-button (click)="patchData(element)">
                                        <span class="material-symbols-outlined">
                                            visibility
                                        </span>
                                    </button>
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element) : null"
                                        [checked]="selection.isSelected(element)">
                                    </mat-checkbox>
                                </div>
                            </td>
                        </ng-container>

                        <tr class="mat-row p-2 w-100" *matNoDataRow col>
                            <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No Data Found </td>
                        </tr>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{'highlightedRow ':highlightedRow == row.id}">
                        </tr>
                    </table>
                </div>
                <ng-container *ngIf="totalRows > 10">
                    <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" showFirstLastButtons
                        (page)="pageChanged($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header"> {{updatedObj ? 'View Collector References' : 'Collector References'}}</div>
            <div class="card-body">
                <!-- <div class="mb-3">
                    <mat-radio-group aria-label="Select an option" [formControl]="isSelfGrievance">
                        <mat-radio-button *ngFor="let reg of registerBy" [value]="reg.value" class="me-4"
                            (change)="postGrievanceType(reg?.value)" [disabled]="ispatch">
                            {{reg.type}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div> -->

                <form [formGroup]="postGrievanceForm" #formDirective="ngForm">

                    <div class="mb-3" [class.disabled-contenct]="ispatch">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput
                                (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)"
                                formControlName="otherCitizenName" maxlength="50" [readonly]="ispatch">
                            <mat-error *ngIf="f['otherCitizenName']?.errors">
                                <span *ngIf="f['otherCitizenName']?.hasError('required')"> Name is required</span>
                                <span *ngIf="f['otherCitizenName']?.hasError('pattern')"> Enter Valid Name</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3" [class.disabled-contenct]="ispatch">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput maxlength="10" (keypress)="validation.acceptedOnlyNumbers($event)"
                                formControlName="otherCitizenMobileNo" [readonly]="ispatch">
                            <mat-error *ngIf="f['otherCitizenMobileNo']?.errors">
                                <span *ngIf="f['otherCitizenMobileNo']?.hasError('required')"> Mobile Number is
                                    required</span>
                                <span *ngIf="f['otherCitizenMobileNo']?.hasError('pattern')"> Enter valid Mobile
                                    Number</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3" [class.disabled-contenct]="ispatch">
                        <mat-form-field class="w-100" appearance="legacy">
                            <mat-label>Address</mat-label>
                            <textarea matInput rows="4" (keypress)="validation.noFirstSpaceAllow($event)"
                                formControlName="otherCitizenAddress" maxlength="500"></textarea>
                            <mat-error *ngIf="f['otherCitizenAddress']?.errors">
                                <span *ngIf="f['otherCitizenAddress']?.hasError('required')"> Address is required</span>
                                <span *ngIf="f['otherCitizenAddress']?.hasError('pattern')"> Enter Valid Address</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- <div class="row mb-2 gx-2"> -->
                    <!-- <div class="col-sm-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput placeholder="Enter mobile number">
                              </mat-form-field>
                        </div> -->

                    <div class="mb-3" [class.disabled-contenct]="ispatch">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>District</mat-label>
                            <mat-select formControlName="districtId" [disabled]="true">
                                <mat-option *ngFor="let district of districtArray" [value]="district.id"
                                    [disabled]="district.value == 1">
                                    {{district.district}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['districtId']?.errors">
                                <span *ngIf="f['districtId']?.hasError('required')"> District is required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- </div> -->
                    <div class="row gx-2 mb-3">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Taluka</mat-label>
                                <mat-select formControlName="talukaId" [disabled]="ispatch"
                                    (selectionChange)="getVillage(postGrievanceForm.value.talukaId);postGrievanceForm.controls['villageId'].setValue('')">
                                    <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">
                                        {{taluka.taluka}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['talukaId']?.errors">
                                    <span *ngIf="f['talukaId']?.hasError('required')"> Taluka is required </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6" [class.disabled-contenct]="ispatch">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Village</mat-label>
                                <mat-select formControlName="villageId" [disabled]="!postGrievanceForm.value.talukaId">
                                    <mat-option *ngFor="let village of villageArray" [value]="village.id">
                                        {{village.village}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['villageId']?.errors">
                                    <span *ngIf="f['villageId']?.hasError('required')"> Village is required</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row gx-2 mb-3">
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Department</mat-label>
                                <mat-select formControlName="deptId" [disabled]="ispatch"
                                    (selectionChange)="getOffice(postGrievanceForm.value.deptId);getGrievanceByDeptId(postGrievanceForm.value.deptId);postGrievanceForm.controls['officeId'].setValue('')">
                                    <mat-option *ngFor="let department of departmentArray" [value]="department.id">
                                        {{department.departmentName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['deptId']?.errors">
                                    <span *ngIf="f['deptId']?.hasError('required')"> Department is required</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6" [class.disabled-contenct]="ispatch">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Office</mat-label>
                                <mat-select formControlName="officeId" [disabled]="!postGrievanceForm.value.deptId">
                                    <mat-option *ngFor="let office of officeArray" [value]="office.id">
                                        {{office.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['officeId']?.errors">
                                    <span *ngIf="f['officeId']?.hasError('required')"> Office is required</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nature of Grievance</mat-label>
                            <mat-select formControlName="natureGrievanceId" [disabled]="ispatch">
                                <mat-option *ngFor="let nature of natureOfGrievance" [value]="nature.id">
                                    {{nature.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['natureGrievanceId']?.errors">
                                <span *ngIf="f['natureGrievanceId']?.hasError('required')"> Nature of Grievance is
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="legacy">
                            <mat-label>Grievance Details</mat-label>
                            <textarea matInput rows="4" (keypress)="validation.noFirstSpaceAllow($event)"
                                formControlName="grievanceDescription" maxlength="500" [readonly]="ispatch"></textarea>
                            <mat-error *ngIf="f['grievanceDescription']?.errors">
                                <span *ngIf="f['grievanceDescription']?.hasError('required')">Grievance Details is
                                    required</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mb-3">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-sm" [class.disabled-contenct]="ispatch">
                                <button mat-stroked-button type="button" class="bg-main">
                                    <label class="px-2"><span>Upload Document</span>
                                        <input type="file" style="display: none" (change)="documentUpload($event)"
                                            #fileInput>
                                    </label>
                                </button>
                            </div>
                            <div class="col-sm-auto">
                                <div *ngIf="grievanceImageArray?.length != 0" class="d-flex">
                                    <button mat-icon-button class="bg-primary bg-opacity-10 text-primary me-2"
                                        (click)="viewDocument(grievanceImageArray[0]?.docpath)">
                                        <span class="material-symbols-outlined">
                                            description
                                        </span>
                                    </button>
                                    <button mat-icon-button *ngIf="!ispatch" id="PanImgDelete"
                                        title="Delete Uploaded Document"
                                        class="bg-danger bg-opacity-10 text-danger uploadDocBtn border-0"
                                        (click)="deleteDocument()">
                                        <span class="material-symbols-outlined">
                                            delete
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <button mat-stroked-button class="btn-main-outline" type="button"
                            (click)="onCancelRecord()">Cancel</button>
                        <button mat-stroked-button class="btn-main ms-2" type="submit" *ngIf="!ispatch"
                            (click)="onSubmitForm()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>