<nav class="navbar navbar-expand-lg bg-light py-0 border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/dashboard-logo.svg">
        </a>
        <div class="d-flex align-content-end w-100 align-items-center" id="navbarSupportedContent">
            <div class="ms-auto d-flex align-items-center" role="search">
                <a class="btn btn-light me-1" (click)="toggleSidebar()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <!-- <a class="btn btn-light" (click)="toggleBackgroundImage()">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </a> -->
                <!-- <select class="form-select">
                    <option value="English">English</option>
                    <option value="Marathi">Marathi</option>
                </select> -->
                <div class="top-content">
                    <!-- <span>Language</span> -->
                    <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
                      <!-- <ng-container *ngFor="let lag of selLag">
                        <input type="radio" class="btn-check" name="btnradio" id="btnEnglish" autocomplete="off" [checked]="selectedLanguage == lag" (change)="translateLanguageTo(lag)">
                        <label class="btn btn-outline-language" for="btnEnglish">{{lag}}</label>
                      </ng-container> -->
                      <input type="radio" class="btn-check" name="btnradio" id="btnEnglish" autocomplete="off" [checked]="selectedLanguage == 'English'" (change)="translateLanguageTo('English')">
                      <label class="btn btn-outline-language" for="btnEnglish">English</label>
        
                      <input type="radio" class="btn-check" name="btnradio" id="btnMarathi" autocomplete="off" [checked]="selectedLanguage == 'Marathi'" (change)="translateLanguageTo('Marathi')">
                      <label class="btn btn-outline-language" for="btnMarathi">मराठी</label>
                    </div>
                    <!-- <select class="form-select" [(ngModel)]="selectedLanguage" (change)="translateLanguageTo(selectedLanguage)">
                      <option value="English">English</option>
                      <option value="Marathi">Marathi</option>
                    </select> -->
                  </div>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/assets/images/user.svg" class="avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" (click)="openProfileModal()">{{'Home.my_profile' | translate}}</a></li>
                      <li><a class="dropdown-item" (click)="openChangePasswordModal()">{{'Home.change_pass' | translate}}</a></li>
                      <li><a class="dropdown-item"  (click)="logOut()">{{'Home.logout' | translate}}</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</nav>