
<div class="container-fluid p-0" id="about-banner">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img *ngIf="langTypeName=='English'" src="../../../assets/images/Samadhan-Banner.png"
                    class="d-block w-100" alt="...">
                <img *ngIf="langTypeName=='Marathi'" src="../../../assets/images/Banner-marathi-Image.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img *ngIf="langTypeName=='English'" src="../../../assets/images/home-banner.png" class="d-block w-100"
                    alt="...">
                <img *ngIf="langTypeName=='Marathi'" src="../../../assets/images/Banner-marathi-Image2.png"
                    class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="left-content">
                                <h2 class="redress">REDRESS PROCESS FLOW</h2>
                                <h3 class="complaint">Lodge your Grievance Through<br> SAMADHAN mobile application
                                </h3>
                                <div class="store-icons">
                                    <h3>Available on</h3>
                                    <a href="" target="_blank">
                                        <img src="assets/images/google-store.png">
                                    </a>
                                    <a href="" target="_blank">
                                        <img src="assets/images/app-store.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid bg-white" id="about-us">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-6">
                <div class="mb-3">
                    <h5 class="page-heading">{{'Home.about' | translate}}</h5>
                    <p class="about-text">{{'Home.about-us' | translate}}</p>
                    <!-- <p class="about-text">
                        The resolution of Public Grievances has always been a top priority of the Government. District
                        Administration Osmanabad took advantage of ICT enhancements and came up with "SAMADHAN” Mobile
                        APP Online Public Grievance Monitoring System. Citizen can submit new application and can also
                        track already submitted application to know the latest status. SAMADHAN Mobile APP also provides
                        feedback facility.
                    </p> -->
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="dm-detail shadow-lg">
                            <img src="../../../assets/images/Dr-Tanajirao-Sawant.png" alt="Prof. Dr.Tanajirao Sawant">
                            <div class="dm-info">
                                <p class="mb-0 fw-bold">{{'Home.Dr-Tanajirao-Sawant' | translate}}</p>
                                <span class="small">{{'Home.Guardian-Minister' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dm-detail shadow-lg">
                            <img src="../../../assets/images/Collector-DM-Osmanabad.png" alt="dr.Sachin Ombase">
                            <div class="dm-info">
                                <p class="mb-0 fw-bold">{{'Home.dr_sachin_ombase' | translate}}</p>
                                <span class="small">{{'Home.collector_&_DM_osmanabad' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="samadhan-app-info">
    <div class="container">
        <div class="row align-items-center g-3">
            <div class="col-sm-6">
                <img src="../../../assets/web-icons/Mobile App Screens.png" class="img-fluid">
                <!-- <img *ngIf="langTypeName=='English'" src="../../../assets/web-icons/Mobile App Screens.png"  class="img-fluid">
                <img *ngIf="langTypeName=='Marathi'" src="../../../assets/images/image_marathi_Mobile.png" alt="" class="img-fluid"> -->
            </div>
            <div class="col-sm-6">
                <div class="app-description">
                    <h3 class="mb-3"> 
                        <span class="samadhan">{{'Home.Samadhan' | translate}}</span> {{'Home.features' | translate}}
                    </h3>
                    <!-- <h4>Download the app from <span class="samadhan">Google play</span> or <span class="samadhan">QR code</span></h4> -->
                    <h4 class="mb-3">
                        {{'Home.Download' | translate}}
                        <span class="samadhan">{{'Home.googlePay' | translate}}</span>{{'Home.OR' | translate}}
                        <span class="samadhan">{{'Home.QR-Code' | translate}}</span>
                    </h4>
                    <!-- <ul>
                        <li> Google play </li>
                        <li>QR code</li>    
                    </ul> -->
                </div>

                <div class="d-flex align-items-center gap-3">
                    <div class="QR-code">
                        <img src="./assets/images/QR-code-image.png" class="w-100">
                    </div>
                    <div>
                        <a href='https://play.google.com/store/apps/details?id=com.citizensamadhan'
                            style='margin-left:2px;' target="_blank">
                            <img src="../../../assets/web-icons/Android-app.svg" alt="" class="img-fluid mx-2">
                        </a>
                    </div>
                    <!-- <div>
                        <img src="../../../assets/web-icons/App-store.svg" alt="" class="img-fluid mx-2">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="grievance-status">
    <div class="container">
        <h5 class="page-heading">{{'Home.grievance_status' | translate}}</h5>
        <div class="row g-3 d-flex align-items-stretch">
            <div class="col-6 col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Received-Grievances.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <h4>{{data?.receievedGrievances}}</h4>
                            </div>
                            <div>
                                <span>{{'Home.received_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Resolved-Grievances.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <h4>{{data?.resolvedGrievances}}</h4>
                            </div>
                            <div>
                                <span>{{'Home.resolved_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Registered-Citizen.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <h4>{{data?.registeredCitizen}}</h4>
                            </div>
                            <div>
                                <span>{{'Home.registered_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Satisfied-Citizen.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <h4>{{data?.satisfiedCitizen}}</h4>
                            </div>
                            <div>
                                <span>{{'Home.satisfied_citizen' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Unsatisfied-Citizen.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <h4>{{data?.unSatisfiedCitizen}}</h4>
                            </div>
                            <div>
                                <span>{{'Home.unsatisfied_citizen' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>