.home-img img{
    width: 100%;
}
.home-img h4{
    position: absolute;
    color: rgba(var(--main-color), var(--opacity-1)) !important;;
    top: 80px;
    left: 100px;
    font-size: 50px;
}
.view_more button{
    background-color: #E4E4E4;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
}
.view_more button a{
    text-decoration: none;
    color: #B83058;
}
#about-us{
    padding-block: 3rem;
}

#samadhan-app-info{
    background-color: rgba(var(--main-color), var(--opacity-1));
    padding: 50px 50px 0px 50px;
}
#samadhan-app-info h3 .samadhan,
#samadhan-app-info h4 .samadhan{
    color: #FCAC34 !important;
}
#samadhan-app-info .app-description h3,
#samadhan-app-info .app-description h4{
    color: #fff !important;
}
#grievance-status{
    padding: 50px;
}
/* #about-banner{
    background-image: url("../../../assets/images/home-banner.png");
    height: 380px;
    background-size:cover ;
    display: flex;
    align-items: center;
} */
/* .left-content{
    padding-block: 2rem;
}
.left-content .redress{
    color: rgba(var(--main-color), var(--opacity-1));
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
}

.left-content .complaint{
    color: #000000;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.left-content .lodge{
    color: rgba(var(--main-color), var(--opacity-1));
    font-weight: 600;
    font-size: 1.4rem;
}
.left-content .store-icons{
    display:flex;
    align-items:center;
}
.left-content .store-icons img{
    width: 180px;
    margin-left: 1rem;
} */
#grievance-status .card{
    border: transparent;
    border-bottom: 4px solid rgba(var(--main-color), var(--opacity-1));
    /* width: 250px;
    height: 180px; */
    min-height: 180px;
    height: 100%;
}
#grievance-status .card .card-body img{
    margin-bottom: 20px;
}
.carousel-control-prev,
.carousel-control-next{
    width: 50px;
    height:50px;
    line-height:50px;
    background-color: rgba(0,0,0,0.5);
    top: 40%;
}
#samadhan-app-info .QR-code
{
    display: inline-block;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 478px){
    #grievance-status,
    #samadhan-app-info {
    padding: 14px;
}
}