<div class="container-fluid p-0">
    <div class="">
        <div class=" mb-3">
            <div class="home-img position-relative">
                <img src="../../../assets/images/Samadhan-Banner.png" alt="citizen grievance">
                <!-- <h4>{{'Home.citizen' | translate}} <br> {{'Home.grievance' | translate}}</h4> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="about-us">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-8">
                <div class="about-us mb-3">

                    <h5>{{'Home.about' | translate}}</h5>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit architecto perferendis eius
                        deserunt
                        dolorem ea laudantium, magnam, nesciunt sint dicta enim, dolores incidunt perspiciatis. Mollitia
                        maiores rerum quia suscipit deleniti iure rem odit doloribus, consectetur quas, nobis assumenda
                        nam
                        doloremque labore? Recusandae perferendis quisquam quibusdam. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Perferendis necessitatibus nesciunt odio quidem quam perspiciatis
                        quibusdam saepe amet, sunt, fuga accusamus, impedit et magnam qui aliquid illum ratione soluta.
                        Autem praesentium, distinctio sapiente corporis amet cupiditate id. Placeat voluptates enim
                        deleniti. Officia quasi quibusdam corrupti!
                    </span>
                </div>

                <div class="text-end view_more">
                    <button mat-stroked-button>
                    <a routerLink="">
                        {{'Home.view_more' | translate}}
                    </a>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center collector position-relative">
                    <img src="../../../assets/images/Collector-DM-Osmanabad.png" alt="dr.Sachin Ombase" class="img-fluid">
                    <div class="ias_osmanabad position-absolute">
                        <span>{{'Home.collector_&_DM_osmanabad' | translate}}</span> <br>
                        <span>{{'Home.dr_sachin_ombase' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="samadhan-app-info">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <img src="../../../assets/web-icons/Mobile App Screens.png" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="app-description">

                    <h3> <span class="samadhan">SAMADHAN </span> Comes With Many Awesome Features.</h3>
                    <p>
                        Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit. Aenean Commodo Ligula Eget Dolor.
                        Aenean
                        Massa. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus.
                        Donec
                        Quam Felis, Ultricies Nec, Pellentesque Eu, Pretium Quis, Sem.
                    </p>
                </div>

                <div class="d-flex">
                    <div>
                        <img src="../../../assets/web-icons/Android-app.svg" alt="" class="img-fluid mx-2">
                    </div>
                    <div>
                        <img src="../../../assets/web-icons/App-store.svg" alt="" class="img-fluid mx-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="grievance-status">
    <div class="container">
        <div class="grievance-status-title">
            <h5>{{'Home.grievance_status' | translate}}</h5>
        </div>
        <div class="row px-3">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Received-Grievances.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <span>769</span>
                            </div>
                            <div>
                                <span>{{'Home.received_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Resolved-Grievances.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <span>700</span>
                            </div>
                            <div>
                                <span>{{'Home.resolved_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Registered-Citizen.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <span>1000</span>
                            </div>
                            <div>
                                <span>{{'Home.registered_grievances' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-block">
                            <div>
                                <img src="../../../assets/web-icons/Satisfied-Citizen.svg" alt="Revieved grievance">
                            </div>
                            <div>
                                <span>689</span>
                            </div>
                            <div>
                                <span>{{'Home.satisfied_citizen' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>