<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-header></app-header>
    <app-sidebar *ngIf="!getSideBarState()"></app-sidebar>
    <main class="page-content">
        <div class="main-content">
            <div class="card card-body border-0">
                <router-outlet></router-outlet>
            </div>
            <footer>
                <app-footer></app-footer>
            </footer>
        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>