<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-header></app-header>
    <app-sidebar *ngIf="!getSideBarState()"></app-sidebar>
    <main class="page-content">
        <div class="main-content scrollbar">
            <div class="card border-0">
                <div class="card-header bg-transparent text-main fw-bold">
                    <span class="breadcrumb-item active" *ngFor="let breadcrumb of this.breadcrumbs[0]?.label; let last = last"
                      [ngClass]="{ 'active' : last }">
                         <a>{{ selectedLang == 'English' ? breadcrumb.title : breadcrumb.titleMarathi}}</a>
                    </span>
                </div>
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <footer>
                <app-footer></app-footer>
            </footer>
        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>