<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4">
        <form [formGroup]="filterForm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Department</mat-label>
            <mat-select formControlName="deptId" (selectionChange)="filterData();">
              <mat-option value="0">All Department</mat-option>
              <mat-option *ngFor="let dept of departmentArr" [value]="dept.id">{{dept.departmentName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="dashboard-table w-100">
      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef class="srno"> SR.No. </th>
        <td mat-cell *matCellDef="let element let i= index"> {{((pageNo + 1) * 10 + i + 1)-20}}
        </td>
      </ng-container>
      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let element"> {{element.departmentName | titlecase}} </td>
        <mat-error *ngIf="f['departmentName'].errors">
          <span class="text-danger" *ngIf="f['departmentName'].errors?.['pattern']">Please enter
            valid department name</span>
        </mat-error>
      </ng-container>
      <!-- <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef class="srno">Action </th>
        <td mat-cell *matCellDef="let element" class="srno">
          <button mat-icon-button color="" (click)="editRecord(element)">
            <span class="material-symbols-outlined">
              edit_square
            </span>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="srno"> <button [disabled]="this.selection.selected.length ==0"
            mat-icon-button (click)="deleteUserData()" style="margin-left: 2rem;">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
        </td>

      </ng-container>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef class="mxw-80">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td *matCellDef="let element let i=index" class="mxw-80">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="srno">Action
          <!-- <button [disabled]="this.selection.selected.length ==0" mat-icon-button (click)="deleteUserData()">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()">
            <!-- [indeterminate]="selection.hasValue() && !isAllSelected()"> --
          </mat-checkbox> -->

        </th>
        <td mat-cell *matCellDef="let element" class="srno">
          <div>
            <button mat-icon-button color="" (click)="editRecord(element)">
              <span class="material-symbols-outlined">
                edit_square
              </span>
            </button>
            <!-- <ng-container>
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)">
              </mat-checkbox>
            </ng-container> -->
          </div>


        </td>
      </ng-container>

      <tr class="mat-row p-2 w-100" *matNoDataRow col>
        <td class="alert alert-danger text-center m-2 mt-2" colspan="9">No data found </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlightedRow ':highlightedRow == row.id}">
      </tr>
    </table>
    <ng-container>
    </ng-container>
    <ng-container *ngIf="totalPages>10">
      <mat-paginator [pageSize]="10" [length]="totalPages" showFirstLastButtons (page)="pageChanged($event)">
      </mat-paginator>
    </ng-container>
  </div>
  <div class="col-sm-4">
    <div class="card form-card">
      <div class="card-header mb-3">
        <p class="mb-0"> {{isEdit?'Update' : 'Add'}} Department</p>
      </div>
      <form [formGroup]="frmDepartment" #formDirective="ngForm" (ngSubmit)="onSubmitDepartment()" autocomplete="off">
        <div class="card-body">
          <div class="mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Department</mat-label>
              <input matInput formControlName="departmentName" maxlength="50"
              (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
              <mat-error *ngIf="f['departmentName'].errors">
                <span class="text-danger" *ngIf="f['departmentName'].errors?.['required']">
                  Department is required</span>
                <span class="text-danger" *ngIf="f['departmentName'].errors?.['pattern']">Please enter
                  valid department name</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-end">
            <button mat-stroked-button class="btn-main-outline" type="button" (click)="onCancelRecord()">Cancel</button>
            <button mat-stroked-button class="btn-main ms-2" type="submit">{{isEdit ? 'Update':'Submit'}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
