<div class="container-fluid p-0">
    <div class="">
        <div class="row mb-3">
            
            <div class="about-us-banner position-relative">
                <img src="../../../assets/images/Samadhan-Banner_2.png" alt="About us Banner">
                <div class="process-flow position-absolute">
                   <span>REDRESS PROCESS FLOW</span> 
                    <br>
                    <span>Citizen Lodges Complaint</span> 
                </div>
                <div class="lodge-grievance position-absolute">
                   <span>Are You Aggrieved With <br> The Services Of Government Agency ?</span> 
                    <br>
                    <span>LODGE YOUR GRIEVANCE HERE</span> 
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about-us">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-8">
                <div class="about-us mb-3">

                    <h5>About</h5>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit architecto perferendis eius
                        deserunt
                        dolorem ea laudantium, magnam, nesciunt sint dicta enim, dolores incidunt perspiciatis. Mollitia
                        maiores rerum quia suscipit deleniti iure rem odit doloribus, consectetur quas, nobis assumenda
                        nam
                        doloremque labore? Recusandae perferendis quisquam quibusdam. Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Perferendis necessitatibus nesciunt odio quidem quam perspiciatis
                        quibusdam saepe amet, sunt, fuga accusamus, impedit et magnam qui aliquid illum ratione soluta.
                        Autem praesentium, distinctio sapiente corporis amet cupiditate id. Placeat voluptates enim
                        deleniti. Officia quasi quibusdam corrupti!
                    </span>
                </div>

                <div class="text-end view_more">
                    <button mat-stroked-button>
                    <a routerLink="">
                        View More
                    </a>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center position-relative">
                    <img src="../../../assets/images/Collector-DM-Osmanabad.png" alt="dr.Sachin Ombase">
                    <div class="ias_osmanabad position-absolute">
                        <span>Collector & DM Osmanabad</span> <br>
                        <span>Dr. Sachin Ombase</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>