/* #about-banner{
    background-image: url("../../../assets/images/Samadhan-Banner_2.png");
    height: 380px;
    background-size:cover ;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding-block: 1rem;
} */
.left-content{
    padding-block: 2rem;
}
.left-content .redress{
    color: rgba(var(--main-color), var(--opacity-1));
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
}
.right-content .redirect{
    color: #000000;
    font-weight: 700;
    font-size: 1.3rem;
}
.left-content .complaint{
    color: #000000;
    font-weight: 700;
    font-size: 1.5rem;
}
.left-content .services{
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.left-content .lodge{
    color: rgba(var(--main-color), var(--opacity-1));
    font-weight: 600;
    font-size: 1.4rem;
}
#about-us{
    padding-block: 3rem;
}
