<div class="container-fluid" id="about-banner">
    <div class="container h-100">
        <div class="row align-items-end h-100">
            <div class="col-sm-6 h-100">
                <div class="left-content d-flex align-items-start flex-column h-100">
                    <div class="mb-auto">
                        <h2 class="redress">REDRESSAL PROCESS FLOW</h2>
                        <h3 class="complaint">Citizen Lodges Complaint</h3>
                    </div>

                    <div>
                        <h4 class="services">Are You Aggrieved With <br> The Services Of Government Agency ?</h4>
                        <h3 class="lodge">LODGE YOUR GRIEVANCE HERE</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center right-content">
                <h4 class="redirect">Redirection To Concerned Authority</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about-us">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-8">
                <h5 class="page-heading">About</h5>
                <p class="about-text">
                    The resolution of Public Grievances has always been a top priority of the Government. District
                    Administration Osmanabad took advantage of ICT enhancements and came up with "SAMADHAN” Mobile APP
                    Online Public Grievance Monitoring System. Citizen can submit new application and can also track
                    already submitted application to know the latest status. SAMADHAN Mobile APP also provides feedback
                    facility.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="dm-detail">
                    <img src="../../../assets/images/Collector-DM-Osmanabad.png" alt="dr.Sachin Ombase">
                    <div class="dm-info">
                        <p class="mb-0 fw-bold">Dr. Sachin Ombase</p>
                        <span class="small">Collector & DM Osmanabad</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>