<div class="dialog-header">
    <span>Change Password</span>
    <button mat-icon-button>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body">
    <div class="row">
        <div class="col-sm-7">
            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
            </div>
            <div class="mb-0 text-end">
                <button mat-stroked-button class="bg-main-light text-main me-2">Cancel</button>
                <button mat-stroked-button class="bg-main">Change Password</button>
            </div>
        </div>
        <div class="col-sm-5">
            <p class="mb-1">Notes :</p>
            <ul class="notes">
                <li>Must be at least 8 characters!</li>
                <li>Must contain at least 1 number!</li>
                <li>Must contain at least 1 in Capital Case!</li>
                <li>Must contain at least 1 Letter in Small Case!</li>
                <li>Must contain at least 1 Special Character!</li>
            </ul>
        </div>
    </div>
</div>