<div class="dialog-header">
    <span>Change Password</span>
    <button mat-icon-button (click)="closeDialog()">
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body">
    <div class="row">
        <div class="col-sm-7">
            <form [formGroup]="changePasswordFrm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Current password</mat-label>
                        <input matInput [type]="hideCurrentPass ? 'password' : 'text'" formControlName="oldPassword" maxlength="20" autocomplete="off"
                         (keypress)="validation.noSpaces($event)" (keyup)="validationaddremove()">
                        <button type="button" mat-icon-button matSuffix (click)="hideCurrentPass = !hideCurrentPass" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideCurrentPass">
                            <span class="material-symbols-outlined">{{hideCurrentPass ? 'visibility_off' : 'visibility'}}</span>
                        </button>
                        <mat-error  *ngIf="f['oldPassword'].hasError('required')">
                            Please Enter Current Password
                        </mat-error>
                        <mat-error  *ngIf="f['oldPassword'].hasError('pattern')">
                            Please Enter Valid Password
                        </mat-error>
                        <mat-error *ngIf="changePasswordFrm.controls['oldPassword'].hasError('Matched')">
                            Old Password And New Password Can Not Be Same.
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>New password</mat-label>
                        <input matInput [type]="hideNewPass? 'password' : 'text'" formControlName="newPassword"  maxlength="20" autocomplete="off" 
                        (keypress)="validation.noSpaces($event)" (keyup)="validationaddremove()">
                        <button type="button" mat-icon-button matSuffix (click)="hideNewPass= !hideNewPass" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideNewPass">
                            <span class="material-symbols-outlined">{{hideNewPass ? 'visibility_off' : 'visibility'}}</span>
                        </button>
                        <mat-error  *ngIf="f['newPassword'].hasError('required')">
                            Please Enter New Password 
                        </mat-error>
                        <mat-error *ngIf="f['newPassword'].hasError('pattern')">
                            Please Enter Valid Password
                         </mat-error>
                        
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm password</mat-label>
                        <input matInput [type]="hideConfirmPass ? 'password' : 'text'" formControlName="confirmPassword"  maxlength="20" autocomplete="off" (keypress)="validation.noSpaces($event)">
                        <button type="button" mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideConfirmPass">
                            <span class="material-symbols-outlined">{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</span>
                        </button>
                        <mat-error *ngIf="f['confirmPassword'].hasError('required')">
                            Please Enter Confirm Password 
                        </mat-error>
                        <mat-error *ngIf="f['confirmPassword'].hasError('pattern')">
                            Please Enter Valid Password
                         </mat-error>
                         <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('notMatched')">
                            New Password and Confirm Password not matching.
                          </mat-error>
                          <mat-error *ngIf="changePasswordFrm.controls['confirmPassword'].hasError('Matched')">
                            Old Password And New Password Can Not Be Same.
                          </mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-0 text-end">
                    <button type="button" mat-stroked-button class="bg-main-light text-main me-2"
                        (click)=" ClearAll()">Cancel</button>
                    <button mat-stroked-button class="bg-main">Change Password</button>
                </div>
            </form>
        </div>
        <div class="col-sm-5">
            <p class="mb-1">Notes :</p>
            <ul class="notes">
                <li>Must be at least 8 characters!</li>
                <li>Must contain at least 1 number!</li>
                <li>Must contain at least 1 in Capital Case!</li>
                <li>Must contain at least 1 Letter in Small Case!</li>
                <li>Must contain at least 1 Special Character!</li>
            </ul>
        </div>
    </div>
</div>