<div class="row g-3">
    <div class="col-sm-8">
        <form [formGroup]="filterFrm" class="">
            <div class="row gx-2">
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Home.select_department' |  translate}}</mat-label>
                        <mat-select formControlName="deptId"
                            (selectionChange)="clearFilter('department');filterData();getOffice(filterFrm.value.deptId)" [disabled]="dropdownDisable">
                            <mat-option value="0">{{'Home.all_dept' | translate}}</mat-option>
                            <mat-option *ngFor="let department of departmentByUserArray" [value]="department.deptId">
                                {{ langTypeName == 'English' ?
                                department.departmentName : department.m_DepartmentName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Home.select_office' | translate}} </mat-label>
                        <mat-select formControlName="officeId" (selectionChange)="clearFilter('office');filterData()"
                            [disabled]='!filterFrm.value.deptId || this.loggedUserTypeId == 4'>
                            <mat-option value="0">All Office</mat-option>
                            <mat-option *ngFor="let office of officeArray" [value]="office.id">
                                {{office.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Home.select_Designation' | translate}}</mat-label>
                        <mat-select formControlName="subUserTypeId" (selectionChange)="filterData()">
                            <mat-option value="0">All Designation</mat-option>
                            <mat-option *ngFor="let subUser of subUserTypeArray" [value]="subUser.subUserTypeId">
                                {{subUser.subUserType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Home.searchUser' | translate}}</mat-label>
                        <input matInput placeholder="{{'Home.search'| translate}}" formControlName="textSearch">
                        <button mat-icon-button matSuffix *ngIf="filterFrm.value.textSearch" matTooltip="close"
                            aria-label="tooltip" (click)="filterFrm.controls['textSearch'].setValue('')">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>
                    </mat-form-field>
                </div>
                <!-- <div>

<div class="card-height">
    <div class="row">
        <div class="col-sm-8">
            <form [formGroup]="filterFrm" class="">
                <div class="row gx-2">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Department</mat-label>
                            <mat-select formControlName="deptId"
                                (selectionChange)="clearFilter('department');filterData();getOffice(filterFrm.value.deptId)">
                                <mat-option value="0">All Department</mat-option>
                                <mat-option *ngFor="let department of departmentByUserArray" [value]="department.id">
                                    {{department.departmentName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Office</mat-label>
                            <mat-select formControlName="officeId" (selectionChange)="clearFilter('office');filterData()"
                                [disabled]='!filterFrm.value.deptId'>
                                <mat-option value="0">All Office</mat-option>
                                <mat-option *ngFor="let office of officeArray" [value]="office.id">
                                    {{office.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Designation</mat-label>
                            <mat-select formControlName="subUserTypeId" (selectionChange)="filterData()">
                                <mat-option value="0">All Designation</mat-option>
                                <mat-option *ngFor="let subUser of subUserTypeArray" [value]="subUser.userTypeId">
                                    {{subUser.userType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Name / Mobile No./ User Name</mat-label>
                            <input matInput placeholder="Search" formControlName="textSearch">
                        </mat-form-field>
                    </div>
                    <!-- <div>
                    <button mat-stroked-button class="btn-main" type="submit">Apply</button>
                </div> -->
            </div>
        </form>
        <div class="table-responsive  table-height scrollbar">
            <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef class="srno"> {{'Home.sr_no' | translate}} </th>
                    <td mat-cell *matCellDef="let element; let i= index"> {{((pageNumber + 1) * 10 + i +
                        1)-20}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.name' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.userName' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName }} </td>
                </ng-container>
                <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.department' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.departmentName ? element.departmentName : '-' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="officeName">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.office' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.officeName ? element.officeName : '-'}} </td>
                </ng-container>

                <ng-container matColumnDef="subUserType">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.designation' | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.subUserType ? element.subUserType : '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="mobileNo">
                    <th mat-header-cell *matHeaderCellDef> {{'Home.mobileNo' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="isBlock">
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef> User Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.userName }} </td>
                    </ng-container>
                    <ng-container matColumnDef="departmentName">
                        <th mat-header-cell *matHeaderCellDef> DEPARTMENT </th>
                        <td mat-cell *matCellDef="let element"> {{element.departmentName ? element.departmentName : '-' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="officeName">
                        <th mat-header-cell *matHeaderCellDef> OFFICE </th>
                        <td mat-cell *matCellDef="let element"> {{element.officeName ? element.officeName : '-'}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="subUserType">
                        <th mat-header-cell *matHeaderCellDef> DESIGNATION </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.subUserType ? element.subUserType : '-'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="mobileNo">
                        <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
                    </ng-container>
    
                    <!-- <ng-container matColumnDef="isBlock">
                        <th mat-header-cell *matHeaderCellDef>Unblock/Block </th>
                        <td mat-cell *matCellDef="let element"> <mat-icon>
                            <mat-slide-toggle class="mat-slide-toggle-green"  (change)="userBlockUnBlockModal(element,$event)"  [checked]="element?.isBlock==='True'? true:false"></mat-slide-toggle>
                         </mat-icon> </td>
                    </ng-container> -->

                <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> ACTION </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="editRecord(element)">
                            <span class="material-symbols-outlined">
                                edit_square
                            </span>
                            </button>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef>  <button [disabled]="this.selection.selected.length ==0" mat-icon-button (click)="deleteUserData()">
                            <span class="material-symbols-outlined">
                               delete
                            </span>
                            </button></th>
                        <td mat-cell *matCellDef="let element">
                        </td>
                    </ng-container>
    
                      <ng-container matColumnDef="select">
                        <th *matHeaderCellDef class="mxw-80">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td *matCellDef="let element let i=index" class="mxw-80">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </td>
                    </ng-container>   -->

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="action text-end"> {{'Home.action' | translate}} <br>
                        <button [disabled]="this.selection.selected.length ==0" mat-icon-button
                            (click)="deleteUserData()">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                        <mat-checkbox [disabled]="isDisabled" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()">
                            <!-- [indeterminate]="selection.hasValue() && !isAllSelected()"> -->
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="action">
                        <div class="d-flex align-items-center">
                            <ng-container>
                                <mat-icon>
                                    <mat-slide-toggle class="mat-slide-toggle-green"
                                        (change)="userBlockUnBlockModal(element,$event)"
                                        [checked]="element?.isBlock==='True'? true:false"></mat-slide-toggle>
                                </mat-icon>
                            </ng-container>

                            <button mat-icon-button (click)="editRecord(element)" class="btn-edit">
                                <span class="material-symbols-outlined">
                                    edit_square
                                </span>
                            </button>

                            <ng-container>
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element) : null"
                                    [checked]="selection.isSelected(element)">
                                </mat-checkbox>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <tr class="mat-row p-2 w-100" *matNoDataRow col>
                    <td class="alert alert-danger text-center m-2 mt-2" colspan="10">{{'Home.no_data_found'| translate}} </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{'highlightedRow ':highlightedRow == row.id}">
                </tr>
            </table>
        </div>
        <ng-container *ngIf="totalRows > 10">
            <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" showFirstLastButtons
                (page)="pageChanged($event)">
            </mat-paginator>
        </ng-container>
    </div>

    <div class="col-sm-4">
        <div class="card form-card">
            <div class="card-header">
                {{ isEdit? ('Home.updateUser' | translate) : ('Home.addUser'| translate) }}
            </div>
            <div class="card-body">
                <form [formGroup]="userFrm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.userType' | translate}}</mat-label>
                            <mat-select formControlName="userTypeId" [disabled]="this.loggedUserTypeId==4"
                                (selectionChange)="getSubUsers(userFrm.value.userTypeId);setValidators(userFrm.value.userTypeId);changeDepFlag = false">
                                <mat-option *ngFor="let user of usersArray" [value]="user.userTypeId">
                                    {{ langTypeName == 'English'? user.userType : user.m_UserType}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['userTypeId']?.errors">
                                <span *ngIf="f['userTypeId']?.hasError('required')"> {{'Home.select_user' | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label> {{'Home.subUserType'| translate}}</mat-label>
                            <mat-select formControlName="subUserTypeId" [disabled]="!userFrm.value.userTypeId">
                                <mat-option *ngFor="let subUser of subUsersArray" [value]="subUser.subUserTypeId">
                                    {{  langTypeName == 'English' ? subUser.subUserType : subUser.m_SubUserType }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['subUserTypeId']?.errors">
                                <span *ngIf="f['subUserTypeId']?.hasError('required')"> {{'Home.select_subUserType' | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3" *ngIf="userFrm.value.userTypeId !=2">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.department' | translate}}</mat-label>
                            <mat-select formControlName="deptId" 
                                (selectionChange)="getOffice(userFrm.value.deptId);changeDepFlag = false" [disabled]="this.loggedUserTypeId== 3 || this.loggedUserTypeId== 4">
                                <mat-option *ngFor="let department of departmentByUserArray"
                                    [value]="department.deptId">
                                    {{ langTypeName == 'English' ? department.departmentName :  department.m_DepartmentName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['deptId']?.errors">
                                <span *ngIf="f['deptId']?.hasError('required')"> {{'Home.please_sel_dep' | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3" *ngIf="userFrm.value.userTypeId !=2 && userFrm.value.userTypeId !=3 ">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.office' |translate}}</mat-label>
                            <mat-select formControlName="officeId" [disabled]="!userFrm.value.deptId || this.loggedUserTypeId == 4">
                                <mat-option *ngFor="let office of officeArray" [value]="office.id">
                                    {{ langTypeName == 'English' ? office.name : office.m_OfficeName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f['officeId']?.errors">
                                <span *ngIf="f['officeId']?.hasError('required')"> {{'Home.please_sel_Off' | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.name' | translate}}</mat-label>
                            <input matInput formControlName="name" maxlength="50"
                                (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)"
                                maxlength="200">
                            <mat-error *ngIf="f['name']?.errors">
                                <span *ngIf="f['name']?.hasError('required')"> {{'Home.name_is_required' | translate}}</span>
                                <span *ngIf="f['name'].hasError('pattern')">
                                   {{'Home.name_pattern' | translate}}</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.mobileNo' | translate}}</mat-label>
                            <input matInput formControlName="mobileNo" maxlength="10"
                                (keypress)="validation.acceptedOnlyNumbers($event)">
                            <mat-error *ngIf="f['mobileNo']?.errors">
                                <span *ngIf="f['mobileNo']?.hasError('required')"> {{'Home.mobileNo_required' | translate }}</span>
                                <span
                                    *ngIf="f['mobileNo']?.hasError('pattern') || f['mobileNo']?.hasError('minlength')">
                                    {{'Home.mobile_pattern' | translate}} </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>{{'Home.Email_Id' | translate}}</mat-label>
                            <input matInput formControlName="emailId" maxlength="100"
                                (keypress)="validation.emailRegex($event)">
                            <mat-error *ngIf="f['emailId']?.errors">
                                <span *ngIf="f['emailId']?.hasError('required')"> {{'Home.emailId_is_required' | translate}}</span>
                                <span *ngIf="f['emailId']?.hasError('email')"> {{'Home.emailId_pattern' | translate}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="text-end">
                        <button mat-stroked-button class="btn-main-outline" type="button"
                            (click)="onCancelRecord()">{{'Home.cancel' | translate}}</button>
                        <button mat-stroked-button class="btn-main ms-2" type="submit">{{ (isEdit ? 'Home.update':'Home.submit') | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>