<div class="dialog-header">
    <span>My Profile</span>
    <button mat-icon-button (click)="closeDialog()">
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>
<div class="dialog-body">
    <form [formGroup]="profileFrom"  (ngSubmit)="onSubmit();">
    <div class="row g-3">
       
        <div class="col-sm-12 text-center">
            <div class="position-relative upload-btn-wrapper">
                  <!-- <img src="assets/images/user.jpg" class="vehicle-image"> -->

                     <img src="assets/images/user.jpg" *ngIf="!ImgUrl" alt="profile-img" width="100"
                            class="vehicle-image">
                    <img src="{{ImgUrl}}" *ngIf="ImgUrl" alt="profile-img" width="100"
                            class="vehicle-image"> 
                   <!-- <img src="assets/images/user.jpg" *ngIf="profileData?.profilePhoto ==''" alt="profile-img" class="vehicle-image">
                <img src="{{profileData?.profilePhoto}}" *ngIf="profileData?.profilePhoto" alt="profile-img" class="vehicle-image">  -->
                <input type="file" id="img-upload" (change)="documentUpload($event)" #fileInput/>
                <div class="vehicle-buttons d-flex flex-column">
                    <button type="button" class="btn bg-light text-primary" *ngIf="!ImgUrl" (click)="openInputFile()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <button type="button" class="border border-0 btn bg-light text-danger" *ngIf="ImgUrl"
                    (click)="deleteImg()">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="name" maxlength="20"
                (keypress)="validation.noFirstSpaceAllow($event);validation.alphabetsWithSpaces($event)">
                <mat-error *ngIf="f['name']?.errors">
                    <span *ngIf="f['name']?.hasError('required')"> Name is required</span>
                    <span  *ngIf="f['name'].hasError('pattern')">
                       Pelase enter valid name</span>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div class="col-sm-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name">
            </mat-form-field>
        </div> -->
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile No.</mat-label>
                <input matInput placeholder="Enter your mobile no." formControlName="mobileNo" maxlength="10"
                         (keypress)="validation.acceptedOnlyNumbers($event)">
                        <mat-error *ngIf="f['mobileNo']?.errors">
                            <span *ngIf="f['mobileNo']?.hasError('required')"> Mobile No is required</span>
                            <span 
                            *ngIf="f['mobileNo']?.hasError('pattern') || f['mobileNo']?.hasError('minlength')">
                            Please enter valid Mobile no </span>
                        </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="Enter email id" formControlName="emailId"  maxlength="100"
                        (keypress)="validation.alphaNumericWithSpacesAndSpecChars($event)">
                        <mat-error *ngIf="f['emailId']?.errors">
                            <span *ngIf="f['emailId']?.hasError('required')"> Email Id is required</span>
                            <span  *ngIf="f['emailId']?.hasError('pattern')"> Please enter valid email id
                            </span>
                        </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <div class="mb-0 text-end">
                <button mat-stroked-button class="bg-main-light text-main me-2"  (click)=" ClearAll()">Cancel</button>
                <button mat-stroked-button class="bg-main" type="submit">Update Profile</button>
            </div>
        </div>
    
    </div>
</form>
</div>