.vehicle-image{
    width: 158px;
    height: 158px;
    border-radius: 50%;
    object-fit: cover;
    object-position:middle;
}
.vehicle-buttons{
    position: absolute;
    bottom: 0px;
    right: 20px;
}
.vehicle-buttons .btn{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    line-height: 16px;
    font-size: 0.85rem;
    text-align: center;
    padding: 0;
    border-color: rgba(var(--main-color), var(--opacity-1));
}
