@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import './assets/css/MaterialStyleSheet.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif !important;
    background-color: #eee;
}

:root {
    --main-color: rgb(184, 48, 88);
    --main-dark-color: rgb(132, 22, 55);
    --main-light-color: rgb(255, 218, 229);
}

.bg-main {
    background-color: var(--main-color);
    color: #fff;
}

.bg-main-light {
    background-color: var(--main-light-color);
}

.bg-main-dark {
    background-color: var(--main-dark-color);
}

.text-main {
    color: var(--main-color);
}

.btn-main-outline {
    font-size: 0.85rem;
    color: var(--main-color);
    border: solid 1px var(--main-color);
    background-color: transparent;
}

.btn-main-outline:hover {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    color: #fff;
}

.material-symbols-outlined {
    font-size: 1.2rem !important;
    line-height: inherit !important;
}

.scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overscroll-behavior: contain;
    scrollbar-color: #989ea6 transparent;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 0.375rem;
    visibility: hidden;
    width: 0.375rem;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(214, 7%, 62%, .4);
    border-radius: 3px;
    visibility: hidden;
}
.form-card{
    border:solid 1px var(--main-color);
}
.plain-card .card-header,
.form-card .card-header{
    background-color:transparent;
    font-size: 0.85rem;
    color: var(--main-color);
    font-weight: 500;
    border-bottom: none;
}
.btn-main,
.dashboard-table{
    font-family: "Rubik", sans-serif !important;
}
.btn-main{
    background-color:transparent;
    color: var(--main-color);
    border: solid 1px var(--main-color) !important;
}
.btn-main:hover{
    background-color:var(--main-color);
    color: #fff;
}
.dashboard-table th{
    background-color:#CBCBCB;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.dashboard-table .srno{
    width: 90px;
}
.dashboard-table a{
    color: var(--main-color);
    text-decoration: none;
}
.dashboard-table a:hover{
    color: var(--main-dark-color);
}
.dashboard-table tr.mat-row,
.dashboard-table tr.mat-header-row{
  height: 40px;
}
.form-control:active,
.form-control:focus,
.form-control{
    box-shadow: none;
    font-size: 0.85rem;
}