<div class="login-body">
    <div class="center-screen">
        <div class="d-flex w-100">
            <div class="logos">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="mb-auto pt-4">
                        <img src="../../../assets/Login/Login-Samadhan-Logo.svg" alt="Samadhan logo">
                    </div>
                    <div class="mx-auto">
                        <img src="../../../assets/Login/Osmanabad-District.svg" alt="osmanabad district">
                    </div>
                </div>
            </div>
            <div class="login-width">
                <div class="d-flex justify-content-between d-lg-none mobile-logo">
                    <img src="../../../assets/Login/Login-Samadhan-Logo.svg" alt="Samadhan logo">
                    <img src="../../../assets/Login/Osmanabad-District.svg" alt="osmanabad district">
                </div>

                <div class="login-box">
                    <ng-container *ngIf="sendOTPContainer">
                        <h5 class="text-center mb-5">{{'Home.forgot_password' | translate}}</h5>
                        <form [formGroup]="sendOTPForm" (ngSubmit)="sendOTP()">
                            <div class="mb-3">
                                <!-- <label class="form-label">
                                   UserName
                                </label> -->

                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>{{'Home.userName' | translate}}</mat-label>
                                    <input matInput placeholder="{{'Home.userName' | translate}}" formControlName="userName" maxlength="10" autocomplete="off"
                                        (keypress)="validation.noSpaces($event)" (keyup)="validation.onlyDigits($event)">
                                    <mat-error *ngIf="f['userName'].errors">
                                        <span *ngIf="f['userName'].hasError('required')"> {{'Home.userName_req' | translate}}</span>
                                    </mat-error>
                                    <mat-error *ngIf="f['userName'].hasError('pattern')">
                                       {{'Home.userName_pattern' | translate}}
                                    </mat-error>
                                </mat-form-field> 
                                <!-- <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Mobile No.</mat-label>
                                    <input matInput formControlName="MobileNo"
                                        maxlength="10"
                                        (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)">
                                    <mat-error *ngIf="f['MobileNo'].errors">
                                        <span *ngIf="f['MobileNo'].hasError('required')"> Please enter
                                            Mobile No.</span>
                                    </mat-error>
                                    <mat-error *ngIf="f['MobileNo'].hasError('pattern')">
                                        Please enter valid Mobile No.
                                    </mat-error>
                                </mat-form-field> -->
                            </div>
                            <button type="submit" mat-raised-button class="bg-main w-100 mb-3">{{'Home.sendOTP' | translate}}</button>
                        </form>
                    </ng-container>

                    <ng-container *ngIf="verifyOTPContainer">
                        <h5 class="text-center mb-5">{{'Home.verifyOTP' | translate}}</h5>
                        <form [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()">
                                <!-- <div class="mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Mobile No.</mat-label>
                                        <input matInput formControlName="mobileNo" maxlength="10"
                                            (keypress)="validation.acceptedOnlyNumbers($event)">
                                        <mat-error *ngIf="v['mobileNo']?.errors">
                                            <span *ngIf="v['mobileNo']?.hasError('required')"> Please enter
                                                Mobile No.</span>
                                        </mat-error>
                                        <mat-error *ngIf="v['mobileNo']?.hasError('pattern')">
                                            Please enter valid Mobile No.
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                           
                            <div class="mb-3">
                                <label class="form-label">
                                   {{'Home.enterOTp' | translate}}
                                </label>
                                <div class="d-flex justify-content-between">
                                    <div style="width: 50px;">
                                        <mat-form-field appearance="outline" class="w-100 text-center">
                                            <input matInput formControlName="otpA" maxlength="1" autocomplete="off"
                                                #input1
                                                (keyup)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'"
                                                (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)">
                                        </mat-form-field>
                                    </div>
                                    <div style="width: 50px;">
                                        <mat-form-field appearance="outline" class="w-100 text-center">
                                            <input matInput formControlName="otpB" maxlength="1" autocomplete="off"
                                                #input2
                                                (keyup)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                                                (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)"
                                                (keyup.backspace)="input1.focus()">
                                        </mat-form-field>
                                    </div>
                                    <div style="width: 50px;">
                                        <mat-form-field appearance="outline" class="w-100 text-center">
                                            <input matInput formControlName="otpC" maxlength="1" autocomplete="off"
                                                #input3
                                                (keyup)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                                                (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)"
                                                (keyup.backspace)="input2.focus()">
                                        </mat-form-field>
                                    </div>
                                    <div style="width: 50px;">
                                        <mat-form-field appearance="outline" class="w-100 text-center">
                                            <input matInput formControlName="otpD" maxlength="1" autocomplete="off"
                                                #input4
                                                (keyup)="(input4.value.length==1)? input5.focus():'input4.focus()'"
                                                (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)"
                                                (keyup.backspace)="input3.focus()">
                                        </mat-form-field>
                                    </div>
                                    <div style="width: 50px;">
                                        <mat-form-field appearance="outline" class="w-100 text-center">
                                            <input matInput formControlName="otpE" maxlength="1" autocomplete="off"
                                                #input5 (keyup)="(input5.value.length == 1) ? input5.focus() : ''"
                                                (keypress)="validation.noSpaces($event) && validation.acceptedOnlyNumbers($event)"
                                                (keyup.backspace)="input4.focus()">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button class="bg-main w-100 mb-3" type="submit">{{'Home.verifyOTP' | translate}}</button>
                        </form>
                    </ng-container>

                    <ng-container *ngIf="changePassContainer">
                        <h5 class="text-center mb-5">{{'Home.reset_pass' | translate}}</h5>
                        <form [formGroup]="changePassword">
                            <!-- <div class="mb-3">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>User Name</mat-label>
                                    <input matInput placeholder="User Name" formControlName="userName" maxlength="10" autocomplete="off"
                                        (keypress)="validation.noSpaces($event)" (keyup)="validation.onlyDigits($event)">
                                    <mat-error *ngIf="h['userName']?.errors">
                                        <span *ngIf="h['userName']?.hasError('required')"> Please enter
                                            User Name</span>
                                    </mat-error>
                                    <mat-error *ngIf="h['userName']?.hasError('pattern')">
                                        Please enter valid User Name
                                    </mat-error>
                                </mat-form-field> 
                            </div> -->
                            <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Home.new_pass' | translate}}</mat-label>
                                    <input matInput [type]="hideNewPass ? 'password' : 'text'"
                                        formControlName="newPassword" autocomplete="off" maxlength="20"
                                        (keypress)="validation.noSpaces($event)" (keyup)="validationaddremove()">
                                    <mat-error *ngIf="h['newPassword']?.errors">
                                        <span *ngIf="h['newPassword']?.hasError('required')"> {{'Home.new_pass_req' | translate}}</span>
                                    </mat-error>
                                    <mat-error *ngIf="h['newPassword']?.hasError('pattern')">
                                        {{'Home.new_pass_patt' | translate}}
                                    </mat-error>

                                    <button mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass">
                                        <span class="material-symbols-outlined">
                                            {{hideNewPass==false ? 'visibility':'visibility_off'}} </span>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> {{'Home.confirm_pass' | translate}}</mat-label>
                                    <input matInput [type]="hideConfirmPass ? 'password' : 'text'"
                                        formControlName="confirmPassword" autocomplete="off" maxlength="20"
                                        (keypress)="validation.noSpaces($event)">
                                    <mat-error *ngIf="h['confirmPassword']?.errors">
                                        <span *ngIf="h['confirmPassword']?.hasError('required')">  {{'Home.confirm_pass_req' | translate}}</span>
                                        <span *ngIf="h['confirmPassword']?.hasError('pattern')">
                                            {{'Home.confirm_pass_patt' | translate}}</span>
                                    </mat-error>
                                    <!-- <mat-error *ngIf="h['confirmPassword']?.hasError('pattern')">
                                        Please enter valid Confirm Password
                                    </mat-error> -->
                                    <!-- <mat-error
                                        *ngIf="h['confirmPassword']?.hasError('notMatched')">
                                        Password and Confirm Password not matching.
                                    </mat-error> -->
                                    <button mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPass">
                                        <span class="material-symbols-outlined">
                                            {{hideConfirmPass==false ? 'visibility':'visibility_off'}} </span>
                                    </button>
                                </mat-form-field>
                            </div>
                            <!-- <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Mobile No.</mat-label>
                                    <input matInput formControlName="mobileNo" maxlength="10"
                                        (keypress)="validation.acceptedOnlyNumbers($event)">
                                    <mat-error *ngIf="h['mobileNo']?.errors">
                                        <span *ngIf="h['mobileNo']?.hasError('required')"> Please enter
                                            Mobile No.</span>
                                            <span *ngIf="h['mobileNo']?.hasError('pattern')">
                                                Please enter valid Mobile No.
                                            </span>
                                    </mat-error>                                   
                                </mat-form-field>
                            </div> -->
                            <button mat-raised-button class="bg-main w-100 mt-3"
                                (click)="ChangePassword()">{{'Home.submit' | translate}}</button>
                        </form>
                    </ng-container>
                    <div class="text-end" *ngIf="verifyOTPContainer">
                        <a class="text-main" (click)="sendOTP()" *ngIf="timerFlag == true">{{'Home.resendOTP' | translate}}</a>
                    </div>
                    <div *ngIf="verifyOTPContainer">
                        <span *ngIf="timerFlag == false" class="mb-2 ml-4 text-main">
                            {{'Home.resendOTP' | translate}} 00.{{timeLeft}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>