.login-body {
    background-image: linear-gradient(90deg, #FFFFFF 46%, #E9E9E9 46%);
    height: 100vh;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 30px #00000017;
    width: 750px !important;
}

.logos {
    background-color: rgba(var(--main-color), var(--opacity-1));
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login-box {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #fff;
    padding: 4rem;
    width: 100%;
}
.login-box a{
    text-decoration: none;
    font-size: 0.85rem;
}

.form-label {
    font-size: 0.85rem;
}

.mobile-logo {
    background-color: rgba(var(--main-color), var(--opacity-1));
    width: 100%;
    padding: 20px;
}
.login-width{
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .center-screen{
        width: 100%;
        max-width: 750px !important;
    }
    .login-width{
        width: 90%;
        margin:0 auto
    }
    .logos {
        display: none;
    }

    .mobile-logo {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .mobile-logo img{
        height: 80px;
    }

    .login-box {
        width: 100% !important;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 0px;
        background-color: #fff;
        padding: 2rem;
    }

    .login-body {
        background-image: linear-gradient(360deg, #E9E9E9 64.7%, #ffffff 64.7%);
        height: 100vh;
    }

}

@media only screen and (max-width: 478px){
    .center-screen{
    width:90% !important;
    box-shadow:none;
    }
}