<div class="row mb-3">
  <div class="col-sm">
    <div class="card dashboard-icon-card ">
      <div class="text-center">
        <img src="../../../assets/dashboard-icon/Received Grievances.svg" alt="">
        <h2>{{data?.receievedGrievances}}</h2>
        <p>{{'Home.received_grievances' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card dashboard-icon-card ">
      <div class="text-center">
        <img src="../../../assets/dashboard-icon/Resolved Grievances.svg" alt="">
        <h2>{{data?.resolvedGrievances}}</h2>
        <p>{{'Home.resolved_grievances' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card dashboard-icon-card ">
      <div class="text-center">
        <img src="../../../assets/dashboard-icon/Registered Citizen.svg" alt="">
        <h2>{{data?.registeredCitizen}}</h2>
        <p>{{'Home.registered_grievances' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card dashboard-icon-card">
      <div class="text-center">
        <img src="../../../assets/dashboard-icon/Satisfied-Citizen.svg" alt="">
        <h2>{{data?.satisfiedCitizen}}</h2>
        <p>{{'Home.satisfied_citizen' | translate}}</p>
      </div>
    </div>    
  </div>
  <div class="col-sm">
    <div class="card dashboard-icon-card">
      <div class="text-center">
        <img src="../../../assets/dashboard-icon/Unsatisfied-Citizen.svg" alt="">
        <!-- <h2>{{data?.UnsatisfiedCitizen}}</h2> -->
        <h2>{{data?.unSatisfiedCitizen}}</h2>
        <p>{{'Home.unsatisfied_citizen' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card plain-card">
      <div class="card-header">
        Total Status wise Grievances Received
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="w-100 dashboard-table">
            <ng-container matColumnDef="srNo">
              <th mat-header-cell *matHeaderCellDef class="srno"> Sr.No. </th>
              <td mat-cell *matCellDef="let element;let i=index"> {{((pageNumber + 1) * 10 + i +
                1)-20}} </td>
            </ng-container>

            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef> Department </th>
              <td mat-cell *matCellDef="let element"> {{element.department |titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="totalGrievances">
              <th mat-header-cell *matHeaderCellDef> Total Grievances </th>
              <td mat-cell *matCellDef="let element" class="fw-bold"> {{element.totalGrievances}} </td>
            </ng-container>

            <ng-container matColumnDef="open">
              <th mat-header-cell *matHeaderCellDef class="text-primary"> Open </th>
              <td mat-cell *matCellDef="let element" class="text-primary fw-bold"> {{element.open_}} </td>
            </ng-container>

            <ng-container matColumnDef="accepted">
              <th mat-header-cell *matHeaderCellDef class="text-info"> Accepted </th>
              <td mat-cell *matCellDef="let element" class="text-info fw-bold"> {{element.accepted}} </td>
            </ng-container>

            <ng-container matColumnDef="resolved">
              <th mat-header-cell *matHeaderCellDef class="text-success"> Resolved </th>
              <td mat-cell *matCellDef="let element" class="text-success fw-bold"> {{element.resolved}} </td>
            </ng-container>

            <ng-container matColumnDef="rejected">
              <th mat-header-cell *matHeaderCellDef class="text-danger"> Rejected </th>
              <td mat-cell *matCellDef="let element" class="text-danger fw-bold"> {{element.rejected}} </td>
            </ng-container>

            <ng-container matColumnDef="partialResolved">
              <th mat-header-cell *matHeaderCellDef class="text-warning"> Partial Resolved </th>
              <td mat-cell *matCellDef="let element" class="text-warning fw-bold"> {{element.partialResolved}} </td>
            </ng-container>

            <ng-container matColumnDef="transferred">
              <th mat-header-cell *matHeaderCellDef class="text-primary"> Transferred </th>
              <td mat-cell *matCellDef="let element" class="text-primary fw-bold"> {{element.transferred}} </td>
            </ng-container>

            <tr class="mat-row p-2 w-100" *matNoDataRow col>
              <td colspan="9">
                <div class="alert alert-danger text-center m-2 mt-2">
                  No Data Found!
                </div>
    
              </td>
            </tr>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <ng-container *ngIf="totalRows > 10">
            <mat-paginator [pageSizeOptions]="[10]" [length]="totalRows" showFirstLastButtons
              (page)="pageChanged($event)">
            </mat-paginator>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card plain-card">
      <div class="card-header">Total Grievances Received</div>
      <!-- <div class="card-body">
            Chart
          </div> -->
      <!-- <div id="chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
              [title]="chartOptions.title"
              [plotOptions]="chartOptions.plotOptions"
              ></apx-chart>
          </div> -->
      <div id="chartdiv" style="height:424px">
      </div>
    </div>
  </div>
</div>